.blob {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    padding: 50px 5vw;

    .flip {
        transform: rotate(180deg);
    }


    @media only screen and (min-width: 780px) {
        width: 50vw;
        padding: 3vh 3vw;
    }

    
    animation-name: slideInRight;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: both;
    
    @keyframes slideInRight {
        0% {
        transform: translateX(100%);
        opacity: 0;
        }
        100% {
        transform: translateX(0);
        opacity: 1;
        }
    }
}

